ClienteNative/xml-resources/web-service-references/controlador/wsdl/controlador.xml.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webServerBusca/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webServerBusca/" name="controlador">
<types>
<xsd:schema>
<xsd:import namespace="http://webServerBusca/" schemaLocation="http://localhost:8080/servidor_busca/controlador?xsd=1"/>
</xsd:schema>
</types>
<message name="stop">
<part name="parameters" element="tns:stop"/>
</message>
<message name="stopResponse">
<part name="parameters" element="tns:stopResponse"/>
</message>
<message name="mostrarPlaylist">
<part name="parameters" element="tns:mostrarPlaylist"/>
</message>
<message name="mostrarPlaylistResponse">
<part name="parameters" element="tns:mostrarPlaylistResponse"/>
</message>
<message name="listarMusicas">
<part name="parameters" element="tns:listarMusicas"/>
</message>
<message name="listarMusicasResponse">
<part name="parameters" element="tns:listarMusicasResponse"/>
</message>
<message name="listarSalas">
<part name="parameters" element="tns:listarSalas"/>
</message>
<message name="listarSalasResponse">
<part name="parameters" element="tns:listarSalasResponse"/>
</message>
<message name="conectar">
<part name="parameters" element="tns:conectar"/>
</message>
<message name="conectarResponse">
<part name="parameters" element="tns:conectarResponse"/>
</message>
<message name="adicionarMusica">
<part name="parameters" element="tns:adicionarMusica"/>
</message>
<message name="adicionarMusicaResponse">
<part name="parameters" element="tns:adicionarMusicaResponse"/>
</message>
<message name="play">
<part name="parameters" element="tns:play"/>
</message>
<message name="playResponse">
<part name="parameters" element="tns:playResponse"/>
</message>
<message name="adicionarSala">
<part name="parameters" element="tns:adicionarSala"/>
</message>
<message name="adicionarSalaResponse">
<part name="parameters" element="tns:adicionarSalaResponse"/>
</message>
<message name="teste">
<part name="parameters" element="tns:teste"/>
</message>
<message name="testeResponse">
<part name="parameters" element="tns:testeResponse"/>
</message>
<portType name="controlador">
<operation name="stop">
<input wsam:Action="http://webServerBusca/controlador/stopRequest" message="tns:stop"/>
<output wsam:Action="http://webServerBusca/controlador/stopResponse" message="tns:stopResponse"/>
</operation>
<operation name="mostrarPlaylist">
<input wsam:Action="http://webServerBusca/controlador/mostrarPlaylistRequest" message="tns:mostrarPlaylist"/>
<output wsam:Action="http://webServerBusca/controlador/mostrarPlaylistResponse" message="tns:mostrarPlaylistResponse"/>
</operation>
<operation name="listarMusicas">
<input wsam:Action="http://webServerBusca/controlador/listarMusicasRequest" message="tns:listarMusicas"/>
<output wsam:Action="http://webServerBusca/controlador/listarMusicasResponse" message="tns:listarMusicasResponse"/>
</operation>
<operation name="listarSalas">
<input wsam:Action="http://webServerBusca/controlador/listarSalasRequest" message="tns:listarSalas"/>
<output wsam:Action="http://webServerBusca/controlador/listarSalasResponse" message="tns:listarSalasResponse"/>
</operation>
<operation name="conectar">
<input wsam:Action="http://webServerBusca/controlador/conectarRequest" message="tns:conectar"/>
<output wsam:Action="http://webServerBusca/controlador/conectarResponse" message="tns:conectarResponse"/>
</operation>
<operation name="adicionarMusica">
<input wsam:Action="http://webServerBusca/controlador/adicionarMusicaRequest" message="tns:adicionarMusica"/>
<output wsam:Action="http://webServerBusca/controlador/adicionarMusicaResponse" message="tns:adicionarMusicaResponse"/>
</operation>
<operation name="play">
<input wsam:Action="http://webServerBusca/controlador/playRequest" message="tns:play"/>
<output wsam:Action="http://webServerBusca/controlador/playResponse" message="tns:playResponse"/>
</operation>
<operation name="adicionarSala">
<input wsam:Action="http://webServerBusca/controlador/adicionarSalaRequest" message="tns:adicionarSala"/>
<output wsam:Action="http://webServerBusca/controlador/adicionarSalaResponse" message="tns:adicionarSalaResponse"/>
</operation>
<operation name="teste">
<input wsam:Action="http://webServerBusca/controlador/testeRequest" message="tns:teste"/>
<output wsam:Action="http://webServerBusca/controlador/testeResponse" message="tns:testeResponse"/>
</operation>
</portType>
<binding name="controladorPortBinding" type="tns:controlador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="stop">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarPlaylist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarMusicas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarSalas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="conectar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="adicionarMusica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="play">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="adicionarSala">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="teste">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="controlador">
<port name="controladorPort" binding="tns:controladorPortBinding">
<soap:address location="http://localhost:8080/servidor_busca/controlador"/>
</port>
</service>
</definitions>